venv
.idea
data
models
untitled folder
temp

#output_videos/gifs/example_2.gif
#output_videos/gifs/example_3.gif
#output_videos/gifs/example_4.gif
#output_videos/video.avi
#output_videos/video.mp4
#polygons/trial_front_flip_fr20_dt00_01_34
#polygons/master_front_flip_fr20_dt22_59_09t
#temp/frontflip_tutorial_cropped.mp4
#temp/frontflip_tutorial_cropped_32cb69e6-7535-497e-8176-6beb4872905b.mp4
#temp/IMG_9814_cropped_58738b68-e725-49b6-b103-e3be65102a47.MOV